.AltMenu {
margin: 5px;
padding: 5px;
}

.lp {
  color: maroon;
}

.main {
  border-color: orange;
  border-radius: 5px;
  border-style: dotted;
  background-image: url("../../art/pastel.png");
}


.levelOne {
  min-width: 100px;
}
.levelTwo {
  background: rgba(150, 100, 150, 1)
}
.levelThree {
  background: rgba(50, 50, 50, 0.50)
}

.mainEntry {
  background: rgba(0, 100, 150, 0.5);
  border-radius: 3px;
  margin: 0;
}
.GtkEntry {

  color: rgba(0, 0, 0, 1);
  border-style: dotted;
  background: rgba(100, 200, 150, 0.75);
}
.inputLine {
  background: rgba(150, 100, 150, 1);
}

.control {

  background: rgba(50, 15, 10, 0.75);
}

button {
  background: mediumseagreen;
}

button:active {
  background: cyan;
}
.header {
  background: cyan;

}

.titleHeader{
  background: navy;

}
.GtkWindow {
  color: rgba(0, 10, 0, 1);
}

.disp {
  background: rgba(50, 100, 50, 0.50);
 }