.AltMenu {
margin: 5px;
padding: 5px;
}

@keyframes plop {
  from {
    background: rgba(100, 200, 150, 1);
  }
  75% {
    background: rgba(150, 100, 150, 1);
  }
  to {
    background: rgba(0, 0, 0, 1);
  }
}
.GtkEntry {
  animation-duration: 1s;
  animation-name: plop;
  color: rgba(0, 100, 0, 1);
  background: rgba(10, 10, 10, 0.75);
}

.inputLine {
  background: rgba(150, 100, 150, 1);
}

.GtkWindow {
  color: rgba(0, 100, 0, 1);
  background: rgba(0, 0, 0, 1);
}
