.AltMenu {
margin: 5px;
padding: 5px;
}

.main {
  border-color: orange;
  border-radius: 5px;
  border-style: dotted;
  background-image: url("../../art/pastel.png");
}

@keyframes plop {
  from {
    background: rgba(100, 200, 150, 1);
  }

  75% {
    background: rgba(150, 100, 150, 1);
  }
  to {
    background: rgba(100, 200, 150, 0.75);
  }
}

.levelOne {
  min-width: 100px;
}
.levelTwo {
  background: rgba(150, 100, 150, 1)
}
.levelThree {
  background: rgba(50, 50, 50, 0.50)
}

.mainEntry {
  background: rgba(0, 100, 150, 0.5);
  border-radius: 3px;
  margin: 0;
}
.GtkEntry {
  animation-duration: 0.5s;
  animation-name: plop;
  color: rgba(0, 0, 0, 1);
  border-style: dotted;
  background: rgba(100, 200, 150, 0.75);
}
.inputLine {
  background: rgba(150, 100, 150, 1);
}
@keyframes ploomp {
  from {
    min-width: 25px;

  }
  25% {
    min-width: 20px;
   
  }
  75% {
    min-width: 22px;
    
  }
  to {
    min-width: 25px;
    
  }
}
.control {
  animation-duration: 0.75s;
  animation-name: plop;
  background: rgba(50, 15, 10, 0.75);
}

button {
  animation-duration: 0.75s;
  animation-name: plop;
  background: mediumseagreen;
}

button:active {
  animation-duration: 1s;
  animation-name: plop;
  animation-iteration-count: 1;
  background: cyan;
}
.header {
  background: cyan;

}

.titleHeader{
  background: navy;

}
.GtkWindow {
  color: rgba(0, 10, 0, 1);
}
